# Виртуальное окружение
.venv/
venv/
env/

# Секреты и конфиги
.env

# Кэш Python и Ruff
__pycache__/
*.pyc
.ruff_cache/

# Папка с данными (не пушим тяжелые JSON в репозиторий)
data/
*.json

# Логи
*.log